<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nicander</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@500&family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/3c51ae6c1f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" />
</head>
<style>
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .flex-dir-row {
        flex-direction: row;
    }

    .strong {
        color: #ffffff !important;
    }

    #main-container {
        background-color: #95c2de;
        width: 100% !important;
        height: 76.85vh;
    }

    .main-parent {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #95c2de;
        width: 100vw;
        height: 100vh;
    }

    .mainbox {
        background-color: #95c2de;
        margin: auto;
        height: 50vh;
        width: 50vw;
    }

    .err {
        color: #ffffff;
        font-family: 'Nunito Sans', sans-serif;
        font-size: 11rem;
    }

    .far {
        font-size: 8.5rem;
        color: #ffffff;
    }

    .err2 {
        color: #ffffff;
        font-family: 'Nunito Sans', sans-serif;
        font-size: 11rem;
    }

    .msg {
        text-align: center;
        font-family: 'Nunito Sans', sans-serif;
        font-size: 1.6rem;
    }

    a {
        text-decoration: none;
        color: white;
    }

    a:hover {
        text-decoration: underline;
    }

    footer {
        z-index: 2;
    }

    @media only screen and (max-width: 823px) and (max-height: 1024px) {
        .main-parent {
            justify-content: center;
            align-items: center;
        }

        .mainbox {
            height: 100vh;
            width: 100vw;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
</style>
<!-- purple x moss 2020 -->

<body>
    <div class="main-parent">
        <div class="mainbox container">
            <div class="container flex-dir-row">
                <div class="err">4</div>
                <i class="far fa-question-circle fa-spin"></i>
                <div class="err2">4</div>
            </div>
            <div class="msg">Maybe this page moved? Got deleted? Is hiding out in quarantine? Never existed in the first
                place?<p>Let's go <a href="/" class="strong">home</a> and try from there.</p>
            </div>
        </div>
    </div>
</body>

</html>