<style>
    ::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #5DA9E9;
        opacity: 1;
        /* Firefox */
    }

    :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #5DA9E9;
    }

    ::-ms-input-placeholder {
        /* Microsoft Edge */
        color: #5DA9E9;
    }

    .margin-right-20rem {
        margin-right: 20rem;
    }

    .margin-left-10rem {
        margin-left: 10rem;
    }

    .width-75vw {
        width: 75vw;
    }

    .flex-left {
        align-self: start;
    }

    .border-style {
        border-right: 5px solid #f8f9fa;
    }

    #searchbar-cont {
        position: relative;
        background-color: #fff;
        flex-direction: row !important;
    }

    #search-results {
        display: none;
        padding: 1rem;
        border-bottom: 1px solid #9e9e9e;
        /* border-left: 1px solid #9e9e9e; */
        /* border-right: 1px solid #9e9e9e; */
        position: absolute;
        top: 41px;
        left: 0;
        background-color: white;
        padding: 10px;
        max-height: 20vh;
        overflow: auto;
        z-index: 200 !important;
    }

    .search-results-items {
        width: 100%;
        cursor: pointer;
        padding: 0.5rem;
        color: #2771ad;
    }

    .search-results-items:hover {
        background-color: #f8f9fa;
    }

    .docInfo {
        margin: 0px 5px
    }

    .specialtyStyle {
        color: #9e9e9e;
        font-size: 12px;
    }

    h3 {
        text-align: center;
    }

    #specialties-content>div,
    #doctors-content>div {
        padding: 10px;
    }

    .bounceIn,
    .fadeIn,
    .backinleft {
        visibility: hidden;
    }

    .button-2 {
        margin-top: 1rem;
        width: 40vw;
        z-index: -1;
        /* in order for the z index to work */
        position: relative;
    }

    /* media for ipad pro */
    @media only screen and (max-width: 1024px) and (max-height: 1366px) {
        #section-1>img {
            width: 70vw;
            height: 80vh;
        }

        .fadeIn>.fas {
            margin: 50px !important;
        }
    }

    /* media for most mobiles */
    @media only screen and (max-width: 823px) and (max-height: 1024px) {

        @media (orientation:portrait) {

            /* section-1 */
            #section-1>img {
                width: 100vw;
                height: 60vh;
            }
        }

        @media (orientation:landscape) {

            /* section-1 */
            #section-1>img {
                width: 60vw;
                height: 90vh;
            }
        }

        /* Section-2 */
        .backinleft {
            width: 100%;
            padding: 20px !important;
        }

        #main-welcome {
            width: 100vw;
        }

        #main-welcome strong {
            font-size: 1rem !important;
        }

        #main-welcome .backinleft,
        #main-welcome a {
            font-size: 1rem !important;
        }

        #section-2 {
            margin: 0 0 40px 0;
        }

        #section-2 .strong {
            width: 100%;
            font-size: 1.5rem !important;
        }

        /* Section-3 */
        #section-3 h2 {
            font-size: 1.5rem !important;
            text-align: center !important;
            margin: 0 auto !;
        }

        #section-3 .fas {
            font-size: 2rem;
            margin: 1rem 0;
            width: 4rem;
            height: 4rem;
        }

        .paragraph {
            font-size: 14px;
        }

        .fadeIn {
            margin: 1rem 0;
        }

        footer {
            height: auto;
            font-size: 14px;
            font-weight: 500;
        }

        .modal-content {
            height: 80vh;
            width: 100vw;
            padding: 0;
        }
        .modal-content>.container {
            overflow: auto;
            justify-content: flex-start;
            align-items: flex-start;
        }

        .modal-content>.container {
            padding: 10px !important;
        }

        .button-2 {
            font-size: 14px;
        }
    }
</style>
<div class='container width-100'>
    <div id="description-home" class="width-100">
        <div class="container width-100 main-page-section" id='section-1'>
            <img src="/img/bg1.png" id='background-image'>
            <div class="container width-100 height-90">
                <h1 class="animate__animated animate__bounce">Contact the experts easily and quickly!</h1>
                <div class="delay-1 animate__animated animate__backInLeft container flex-dir-row width-90"
                    id="searchbar-cont">
                    <input type="text" class='searchbar  width-100' placeholder="Doctor's name or specialty">
                    <div class="arrow"><i class="fas fa-chevron-down"></i></div>
                    <div class="container flex-dir-row width-100 flex-left" id="search-results">
                        <div class="container noselect" id="specialties">
                            <h3>Available specialties</h3>
                            <div class="container width-100" id="specialties-content"></div>
                        </div>
                        <div class="container" id="doctors">
                            <h3>Doctors</h3>
                            <div class="container" id="doctors-content"></div>
                        </div>
                    </div>
                </div>
                <a href="/emergency"><button class="button-2 animate__animated animate__fadeIn">I'm on emergency</button></a>
            </div>

        </div>
        <div class="container width-100 main-page-section" id='section-2'>
            <div id='main-welcome'>
                <div class="backinleft">
                    <h2 class='strong'>Welcome to Nicander Pharmacovigilance.</h2><br> <strong>Nicander
                        Pharmacovigilance</strong> is
                    an
                    open-access platform
                    for contacting and
                    communicating
                    with specialized professionals, who can diagnose medicine-related symptoms and advise you about
                    them.
                    <br><br>For further information, click <a href="/about">here</a>.
                </div>
            </div>
        </div>
        <div class="container width-100 main-page-section" id='section-3'>
            <h2 class="fadeIn">Follow these 3 simple steps</h2>
            <div class="container flex-dir-row ">
                <div class="container fadeIn">
                    <i class="fas fa-search 9x"></i>
                    <h3 class="h3-main">Search for the doctor you need</h3>
                    <div class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet dicta
                        facere, quis amet iste
                        natus quasi ipsam labore vel, dolores, earum odio sequi illo dolorem sint quod culpa nihil.
                        Libero suscipit, sint cumque aspernatur ratione facere ex aperiam dicta excepturi illum corporis
                        quo in autem dignissimos odit iste! Dolor, saepe.</div>
                </div>
                <div class="container fadeIn">
                    <i class="fas fa-user-md 9x"></i>
                    <h3 class="h3-main">View the doctor's profile</h3>
                    <div class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet dicta
                        facere, quis amet iste
                        natus quasi ipsam labore vel, dolores, earum odio sequi illo dolorem sint quod culpa nihil.
                        Libero suscipit, sint cumque aspernatur ratione facere ex aperiam dicta excepturi illum corporis
                        quo in autem dignissimos odit iste! Dolor, saepe.</div>
                </div>
                <div class="container fadeIn">
                    <i class="fas fa-check 9x"></i>
                    <h3 class="h3-main">Contact the experts for FREE</h3>
                    <div class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet dicta
                        facere, quis amet iste
                        natus quasi ipsam labore vel, dolores, earum odio sequi illo dolorem sint quod culpa nihil.
                        Libero suscipit, sint cumque aspernatur ratione facere ex aperiam dicta excepturi illum corporis
                        quo in autem dignissimos odit iste! Dolor, saepe.</div>
                </div>
            </div>
        </div>
        <div class="container width-100 main-page-section" id='section-4'>
            <h2 class="bounceIn">Latest News</h2>
            <div class="container" id="latest-news-section">

            </div>
        </div>
    </div>
</div>

<script>

    // When refresh go to top
    window.onbeforeunload = function () {
        window.scrollTo(0, 0);
    }

    // Background change every 15sec
    let i = 1;
    const background = document.querySelector('#background-image');

    (function theLoop(j) {
        setTimeout(function () {
            changeBg()
            if (i > 0) {
                if (i < 4) {         // If i > 0, keep going
                    i++;
                    theLoop(i);       // Call the loop again, and pass it the current value of i
                }
                else {
                    i = 1;
                    theLoop(i)
                }
            }
        }, 15000);
    })(10);


    //FETCH Get articles and display the 6 newest
    fetch("/getposts", {
        method: "post",
        headers: {
            'Content-Type': 'application/json',
            'Accept': 'application/json'
        },

        //make sure to serialize your JSON body
        body: JSON.stringify({ 'post_num': 6 })
    })
        .then(response => response.json())
        .then((posts) => {
            posts.forEach(post => {
                // console.log(post.content.length)
                createPostSection(post.title, post.content, post.author, post.timestamp)
            });
        });

    const latestNewsSection = document.querySelector('#latest-news-section')

    function createPostSection(title, content, author, timestamp) {
        const postSection = document.createElement('div');
        postSection.className = 'container bounceIn';
        postSection.id = 'post';
        postSection.style.padding = '1rem';
        postSection.style.width = '300px';

        postSection.innerHTML = `
        <div class='post-date'>${reformDate(timestamp)} ${reformTime(timestamp)}</div></br>
        <div class='post-title'>${title}</div><br>
        `
        latestNewsSection.appendChild(postSection)

        postSection.addEventListener('click', () => {
            const modal = document.createElement('div');
            modal.className = 'modal container';

            const modalContent = document.createElement('div');
            modalContent.className = 'modal-content container';
            modalContent.innerHTML = `
            <span class="close container"><i class="fas fa-times"></i></span>
            <div class="container">
            <div class='post-date'>${reformDate(timestamp)} ${reformTime(timestamp)}</div></br>
            <div class='post-title'>${title}</div><br>
            <div class='post-content'>${content}</div></br>
            <div class='post-author'>Post written by: ${author}</div>
            </div>
            `

            modal.appendChild(modalContent);
            document.querySelector('body').appendChild(modal)

            document.querySelector('body').addEventListener('click', (e) => {
                if (e.target.classList.contains('fas') || e.target.classList.contains('modal'))
                    modal.remove()
            })
        })
    }

    function reformDate(timestamp) {
        const date = `${timestamp.substring(8, 10)}/${timestamp.substring(5, 7)}/${timestamp.substring(0, 4)}`

        return date
    }

    function reformTime(timestamp) {
        const time = `${timestamp.substring(11, 16)}`

        return time
    }

    function changeBg() {
        background.style.opacity = 0
        setTimeout(function () {
            background.src = `../img/bg${i}.png`;
            // background.style.opacity = 0.7
        }, 900);
        setTimeout(function () {
            // background.src = `../img/bg${i}.png`;
            background.style.opacity = 0.7
        }, 1000);
    }

    let users = [];

    //SEARCHBAR
    //Fetch get doctors
    fetch("/getUsers/main", {
        method: "post",
        headers: {
            'Content-Type': 'application/json',
            'Accept': 'application/json'
        },

        //make sure to serialize your JSON body
        body: JSON.stringify({
            usertype: 'doctor'
        })
    })
        .then(response => response.json())
        .then((body) => {
            body.forEach(element => {
                users.push(element)
            });

            users.sort(function (a, b) {
                if (a.specialty < b.specialty) { return -1; }
                if (a.specialty > b.specialty) { return 1; }
                return 0;
            })
        });


    const searchbar = document.querySelector('.searchbar')
    const searchresults = document.getElementById('search-results');
    const specialties = document.getElementById('specialties-content');
    const doctors = document.getElementById('doctors-content');
    const doctorsCont = document.getElementById('doctors');
    const specialtiesCont = document.getElementById('specialties');

    searchbar.addEventListener('keyup', (e) => {

        //Make visibile doctors and specialties sections
        doctorsCont.style.display = 'block'
        specialtiesCont.style.display = 'block'

        //Check and set search results field display
        if (searchbar.value !== '') {
            // Initialize flag values for doctors and specialties search
            let s_found = 0, d_found = 0;
            let specialtiesArr = [];
            searchresults.style.display = 'block';

            //Remove all results from previous input value (specialties)
            specialties.innerHTML = '';
            //Remove all results from previous input value (doctors)
            doctors.innerHTML = '';

            //Remove all results from previous input value (when typing backspace or delete)
            if (event.key === "Backspace" || event.key === "Delete") {
                specialties.innerHTML = '';
                doctors.innerHTML = '';
            }

            // Check if any doctor name or specialty starts with the given input
            users.forEach(element => {

                //.search() method documentation
                //can be achieved also by using
                //.startsWith() method
                //https://www.w3schools.com/jsref/jsref_startswith.asp

                //Specialty
                if (element.specialty.toLowerCase().search(searchbar.value.toLowerCase()) === 0) {
                    //Create new results elements from new input value
                    if (!specialtiesArr.includes(element.specialty)) {
                        // console.log([a[ar]])
                        specialtiesArr.push(element.specialty)
                    }
                    s_found = 1;
                }
                //Doctor's Name
                let fullName = `${element.name} ${element.surname}`
                if (element.name.toLowerCase().search(searchbar.value.toLowerCase()) === 0 || element.surname.toLowerCase().search(searchbar.value.toLowerCase()) === 0 || fullName.toLowerCase().search(searchbar.value.toLowerCase()) === 0) {
                    //Create new results elements from new input value
                    createResult(doctors, element.name, element.surname, element.specialty, element._id)
                    d_found = 1;
                }
            })
            if (s_found === 1) {

                specialtiesArr.forEach((specialty) => {
                    createResult(specialties, specialty)
                })
            }
            //Display message when search unsuccessful (specialties)
            if (s_found === 0) {
                const result = document.createElement('div');
                result.innerText = 'No results found';
                specialties.appendChild(result);
            }
            //Display message when search unsuccessful (doctors)
            if (d_found === 0) {
                const result = document.createElement('div');
                result.innerText = 'No results found';
                doctors.appendChild(result);
            }
        } else {
            searchresults.style.display = 'none';
            specialties.innerHTML = ''
            doctors.innerHTML = ''
        }

    })

    let open_ = false;
    const arrow = document.querySelector('.arrow');
    arrow.addEventListener('click', () => {
        if (open_ === false) {
            let specialtiesArr = [];
            searchresults.style.display = 'block';
            doctorsCont.style.display = 'none'
            specialties.innerHTML = '';

            users.forEach(user => {
                if (!specialtiesArr.includes(user.specialty)) {
                    specialtiesArr.push(user.specialty);
                }
            })

            specialtiesArr.forEach(specialty => {
                createResult(specialties, specialty)
            })

            open_ = true;
        }
        else {
            searchresults.style.display = 'none';
            open_ = false;
        }
    })

    function createResult(parent, resultValue, resultValue2, resultValue3, id) {
        if (resultValue2 && resultValue3 && id) {
            const result = document.createElement('div');
            result.innerHTML = `
                <div class='docInfo'>${resultValue} ${resultValue2}</div> <div class='docInfo specialtyStyle'>${resultValue3}</div>
            `;
            result.className = 'search-results-items text-center container flex-dir-row';
            result.addEventListener('click', () => {

                window.location.href = `/profiles/${id}`;
            })
            parent.appendChild(result);
        }
        else {
            const result = document.createElement('div');
            result.innerText = resultValue;
            result.className = ' search-results-items text-center container';
            result.addEventListener('click', () => {
                window.location.href = `/specialties/${resultValue}`;
            })
            parent.appendChild(result);
        }
    }

    //Animation while scrolling

    const backInLeft = document.querySelector('.backinleft');
    const fadeIn = Array.from(document.querySelectorAll('.fadeIn'));
    let bounce = Array.from(document.querySelectorAll('.bounceIn'));
    setTimeout(() => {
        bounce = Array.from(document.querySelectorAll('.bounceIn'));
    }, 2000);

    let last_known_scroll_position = 0;
    let ticking = false;

    // setTimeout(() => {
    //     isScrolledIntoView(backInLeft)

    //     fadeIn.forEach(el => {
    //         isScrolledIntoView(el)
    //     })

    //     bounce.forEach(el => {
    //         isScrolledIntoView(el)
    //     })
    // }, 1000);

    function doSomething(scroll_pos) {

        isScrolledIntoView(backInLeft)

        fadeIn.forEach(el => {
            isScrolledIntoView(el)
        })

        setTimeout(() => {
            bounce.forEach(el => {
                isScrolledIntoView(el)
            })
        }, 2000);
    }

    window.addEventListener('scroll', function (e) {
        last_known_scroll_position = window.scrollY;

        if (!ticking) {
            window.requestAnimationFrame(function () {
                doSomething(last_known_scroll_position);
                ticking = false;
            });

            ticking = true;
        }
    });

    function isScrolledIntoView(el) {
        var rect = el.getBoundingClientRect();
        var elemTop = rect.top;
        var elemBottom = rect.bottom;

        // Only completely visible elements return true:
        var isVisible = (elemTop >= 0) && (elemBottom <= window.innerHeight);
        // Partially visible elements return true:
        //isVisible = elemTop < window.innerHeight && elemBottom >= 0;
        if (isVisible === true) {
            el.style.visibility = 'visible'

            if (el.classList.contains('fadeIn')) {
                el.classList.add('animate__animated', 'animate__fadeIn')
            } else if (el.classList.contains('backinleft')) {
                el.classList.add('animate__animated', 'animate__backInLeft')
            } else if (el.classList.contains('bounceIn')) {
                el.style.visibility = 'visible'
                el.classList.add('animate__animated', 'animate__bounceIn')
            }
        }
        return isVisible;
    }
</script>