<style>
    .page-half {
        margin: 25vh 0 30vh 0;
        /* height: 75vh; */
        /* justify-content: flex-start; */
    }

    .page-half:first-child {
        border-right: 5px solid #f8f9fa;
    }

    @media only screen and (max-width: 823px) and (max-height: 1024px) {
        .page-half {
            margin: 0 !important;
            width: 100%;
        }

        .width-50 {
            width: 100% !important;
        }

        .border {
            border: none !important;
        }

        .button {
            width: 100%;
        }
    }
</style>
<div class="container width-100 flex-dir-row padding-1rem">
    <div class="container width-50 page-half padding-1rem border">
        <h1 class="big-h1">Appointment with doctor</h1>
        <div class="container padding-2rem">
            Come in contact with one of our platform's doctors and let him examine you by starting a conversation via
            chat or video call.
        </div>
        <a href="/emergency/appointment"><button class="button">I need an appointment now</button></a>
    </div>
    <div class="container width-50 page-half padding-1rem">
        <h1 class="big-h1">Fill in Report of Adverse Drug Reactions</h1>
        <div class="container padding-2rem">
            Fill in a form which provides information about your symptoms following the use of a drug.
        </div>
        <a href="/emergency/report"><button class="button">I want to fill in the ADR report</button></a>
    </div>
</div>