<style>
    #type {
        display: none;
    }

    body {
        overflow: hidden;
    }

    #form-container {
        padding-right: 5rem;
        border-right: 5px solid #f8f9fa;
    }

    a {
        color: #535353;
    }

    a:hover {
        text-decoration: underline;
    }

    .modal-content {
        justify-content: flex-start;
    }

    body {
        overflow: auto;
    }
</style>
<div class="container">
    <div id='login-header' class="container flex-dir-row">
        <div class="container" id='log-container'>
            <i class="fas fa-sign-in-alt fa-2x"></i>
            <h3>Patient Login</h3>
        </div>
    </div>
    <div id="login-container" class="container flex-dir-row">
        <div id="form-container" class="container">
            <h2>Welcome to nicander!</h2>
            <form action="/patient/login" method="post" class="form container" autocomplete="off">
                <label>Email</label>
                <input type="email" id="email" name='email' class='input-field'>
                <label>Password</label>
                <input type="password" id="password" name='password' class='input-field'>
                <input type="text" id="type" name='type' class='input-field' value="patient">
                <input type="submit" value="Login" class="button">
                <div class="padding-1rem width-100 text-left">
                    <a href="#" id="forgotPassword" class="text-left">Forgot password?</a>
                </div>
                <div class="message-log">
                    <%= error %>
                </div>
            </form>
        </div>
        <div class="container">
            <h2>I want to become a member</h2>
            <p id='haveAccountMsg' class="container flex-dir-row">Not a member of nicander yet? <a
                    href="/patient/register" id="loginLink">JOIN US NOW!</a></p>
        </div>
    </div>
</div>
</div>
<script>
    document.title = 'Patient Login'

    const email = document.getElementById('email');
    const password = document.getElementById('password');
    const message = document.querySelector('.message-log');

    document.querySelector('form').addEventListener('submit', (e) => {

        if (email.value === '' || password.value === '') {
            if (email.value === '') {
                styleBorder(email, 'red')
            }
            else {
                styleBorder(email, 'rgb(226, 226, 226)')
            }
            if (password.value === '') {
                styleBorder(password, 'red')
            }
            else {
                styleBorder(password, 'rgb(226, 226, 226)')
            }
            e.preventDefault();
            message.style.display = 'block';
            message.innerText = 'Please fill all fields correctly!'
        }
        else {
            true
        }
    })

    function styleBorder(field, color) {
        field.style.border = `1px solid ${color}`
    }

    document.querySelector('#forgotPassword').addEventListener('click', () => {
        const modal = document.createElement('div');
        modal.className = 'modal container';

        const modalContent = document.createElement('div');
        modalContent.className = 'modal-content container';

        const header = document.createElement('h1');
        header.innerText = 'Forgot your password?';
        header.className = 'container padding-1rem width-100 big-h1';
        modalContent.appendChild(header)

        const description = document.createElement('div');
        description.className = 'container padding-1rem width-100'
        // description.style.lineHeight = '2rem'
        description.innerText = 'Type in your email address and we will send you a new password via e-mail. Then you will be able to login, using the new password.'
        modalContent.appendChild(description)

        const inputField = document.createElement('input');
        inputField.type = 'email';
        inputField.className = 'input-field';
        inputField.placeholder = 'Type your email address';
        modalContent.appendChild(inputField);

        const submitButton = document.createElement('button');
        submitButton.className = 'button';
        submitButton.innerText = 'Send me a new password';
        modalContent.appendChild(submitButton);

        submitButton.addEventListener('click', () => {
            if (document.querySelector('#msg')) {
                document.querySelector('#msg').remove()
            }
            const msg = document.createElement('div');
            msg.innerHTML = `<i class="fa fa-spinner fa-spin" style="font-size:24px"></i>`
            modalContent.appendChild(msg);

            if (inputField.value.length > 0) {
                fetch("/password/forgot", {
                    method: "post",
                    headers: {
                        'Content-Type': 'application/json',
                        'Accept': 'application/json'
                    },

                    //make sure to serialize your JSON body
                    body: JSON.stringify({
                        email: inputField.value,
                        type: 'patient'
                    })
                })
                    .then(response => response.json())
                    .then((body) => {

                        msg.innerText = `${body.msg}`;
                        msg.style.padding = '1rem'
                        msg.id = 'msg'

                        if (body.type === 'success') {
                            msg.style.color = 'green';
                        } else {
                            msg.style.color = 'red';
                        }
                    });

            }
        })

        modal.appendChild(modalContent);
        document.querySelector('body').appendChild(modal)

        document.querySelector('body').addEventListener('click', (e) => {
            if (e.target.classList.contains('fas') || e.target.classList.contains('modal'))
                modal.remove()
        })
    })
</script>