<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard | Administrator</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@500&family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/3c51ae6c1f.js" crossorigin="anonymous"></script>
</head>
<style>
    #navbar>ul {
        width: 90%;
    }

    .navbar-decoration {
        width: 5%;
    }

    .fa-sign-out-alt {
        color: black;
    }

    #dropdown {
        top: 3rem;
    }

    i {
        font-family: roboto;
    }
</style>

<body>
    <div id="navbar" class="navbar2">
        <div class="navbar-decoration"></div>
        <ul>
            <li class="navbar-item"><i class="fas fa-home"></i></li>
            <li class="navbar-item">Posts</li>
            <li class="navbar-item">Users Management</li>
            <li class="navbar-item">Reports</li>
            <li class="navbar-item">Contact Platform</li>
            <li class="navbar-item">Email Notifications</li>
            <li class="navbar-item email"><%= email %>
                <div class="container" id='dropdown'>
                    <a href="/logout" class="navbar-item">
                        Logout <i class="fas fa-sign-out-alt"> </i>
                    </a>
                    <!-- <a href="/doctor/login" class="navbar-item">Doctors</a> -->
                </div>
            </li>
        </ul>
        <div class="navbar-decoration"></div>
    </div>

    <%- body %>

</body>

</html>

<script src="/socket.io/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/simple-peer/9.7.2/simplepeer.min.js"></script>
<script>
    // var socket = io();

    const buttonsCollection = document.getElementsByClassName('navbar-item');
    const buttonsArray = Array.from(buttonsCollection);

    for (let i = 0; i < buttonsArray.length; i++) {
        const element = buttonsArray[i];
        element.style.cursor = 'pointer';
        element.addEventListener('click', (e) => {
            if (e.target.className === 'fas fa-home') {
                window.location.href = "/dashboard";
            }
            if (e.target.innerText === 'Posts') {
                window.location.href = "/dashboard/posts/new-post";
            }
            if (e.target.innerText === 'Users Management') {
                window.location.href = "/dashboard/users-management/doctors";
            }
            if (e.target.innerText === 'Reports') {
                window.location.href = "/dashboard/reports";
            }
            if (e.target.innerText === 'Contact Platform') {
                window.location.href = "/dashboard/contact-platform";
            }
            if (e.target.innerText === 'Email Notifications') {
                window.location.href = "/dashboard/email-notifications";
            }
            if (e.target.className === 'navbar-item email') {
                document.getElementById('dropdown').style.display = 'block'
            }
        })

    }

    document.querySelector('.fa-sign-out-alt').style.cursor = 'pointer'
    document.querySelector('.fa-sign-out-alt').addEventListener('click', () => {
        window.location.href = "/logout";
    })

    document.querySelector('body').addEventListener('click', (e) => {
        if (e.target.className !== 'navbar-item email') {
            open = false
            document.querySelector('#dropdown').style.display = 'none';
        }
    })
</script>